[Desktop Entry]
Encoding=UTF-8
Name=Xnview
Comment=XnView MP image viewer/converter
Icon=xnview
Exec=xnview %f
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/png;image/tiff;image/x-bmp;image/x-pcx;image/x-png;image/x-portable-bitmap;image/x-portable-pixmap;image/x-psd;image/x-tga;image/x-xbitmap;image/x-xcf;image/x-xpixmap;
Terminal=false
Type=Application
Categories=Application;Graphics;Viewer;