system modify \
    deny_remote_tunnel_creates=yes \
    tunnel_establish_timeout=60 \
    session_establish_timeout=60 \
    tunnel_persist_pend_timeout=60 \
    session_persist_pend_timeout=60

ppp profile modify \
    profile_name=default \
    mtu=1460 \
    mru=1460 \
    auth_peer=no \
    auth_pap=no \
    auth_eap=no \
    auth_mschapv1=no \
    default_route=yes

tunnel create \
    tunnel_name=campus \
    dest_ipaddr=my_l2tp_provider_ip \
    persist=yes

session create \
    tunnel_name=campus \
    session_name=campus \
    use_sequence_numbers=yes \
    reorder_timeout=15 \
    user_name=my_user_name
